<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <base href="/" />
    <title>Support Local | Quad Cities</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta property="og:url" content="https://www.kuratr.org/" />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Support Local | Quad Cities" />
    <meta
      property="og:description"
      content="Find locally owned business in the quad cities to support during this time of need."
    />
    <meta property="og:image" content="https://www.kuratr.org/android-chrome-512x512.png" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-X9ZKC32ZEE"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-X9ZKC32ZEE");
    </script>
  </head>

  <body>
    <my-app></my-app>
  </body>
</html>
