.map-container {
  overflow: hidden;
  position: relative;
  height: 0;
  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}

.btn.btn-xs {
  padding: 5px;
}

.position-sticky {
  background-color: white;
  top: 50px;
  z-index: 10;
  box-shadow: 5px 10px 10px white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.card.card-ecommerce .card-footer {
  padding: 5px 0;
}

.card-title {
  margin-top: 10px;
}

html {
  height: 100vh;
}
body,
main {
  min-height: 100vh;
}
main {
  overflow: auto;
}

.page-footer {
  position: relative;
  margin-top: -135px;
  clear: both;
}

.form-check-input[type="checkbox"] + label:before {
  margin-top: 0 !important;
}
