.card.card-ecommerce {
  > #image {
    background-size: 100% 300px !important;
    height: 300px;
  }

  .btn {
    font-size: .7em !important;
  }
}

@media (max-width: 576px) {
  #header {
    font-size: 0.75em;
  }

  .card.card-ecommerce {
    & > #image {
      background-size: 100% 150px !important;
      height: 150px;
    }
    font-size: 0.75em !important;

    .btn {
      min-width: 30%;
      &,
      > * {
        font-size: 0.85em !important;
      }
      padding: 3.5px;
    }
    .btn[class*="btn-outline-"] {
      padding-top: 2px;
      padding-bottom: 2px;
    }

    .card-text,
    .card-footer,
    .directions-link {
      font-size: 0.75em !important;
    }
    .card-title {
      font-size: 1.1em !important;
    }

    & > .card-body {
      .card-text {
        margin-bottom: 0;
      }
    }
  }
}

.card-body > .card-text {
  height: 75px;
  overflow: auto;
}

#scroll-top-button {
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 50;
}

nav.navbar {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
}

.btn.btn-xs {
  padding: 5px;
  font-size: 0.8em;
}

.position-sticky {
  background-color: white;
  top: 0px;
  z-index: 9;
  box-shadow: 5px 10px 10px white;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

#social-side {
  position: fixed;
  top: 50%;
  z-index: 99;
  display: block;
  > * {
    display: block;
    margin: 0;
  }
  .btn {
    padding: 5px;
    width: 25px;
    border-radius: 0;
    &:first-child {
      border-radius: 0 5px 0 0;
    }
    &:last-child {
      border-radius: 0 0 5px 0;
    }
  }
}

.card.card-ecommerce .card-footer {
  padding: 5px;
}

.card-title {
  margin-top: 10px;
}

html {
  min-height: 100%;
}
body,
main {
  min-height: 100vh;
  > .container {
    padding-top: 5.5em;
  }
}

.page-footer {
  position: relative;
  margin-top: -137px;
  clear: both;
}

.form-check-input[type="checkbox"] + label:before {
  margin-top: 0 !important;
}
